{
  "version": 1,
  "minor_version": 1,
  "key": "core.config",
  "data": {
    "latitude": 43.92721638509497,
    "longitude": 2.19902515411377,
    "elevation": 187,
    "unit_system": "metric",
    "location_name": "Maison",
    "time_zone": "Europe/Paris",
    "external_url": "http://82.65.219.146:8123",
    "internal_url": null,
    "currency": "EUR"
  }
}